<div class="col-sm-7 col-sm offset-2">
    <form (ngSubmit)="onSave()" #f="ngForm">
        <div class="form-group row">
            <label for="environment" class="col-sm-5 col-form-label">Environment</label>
            <div class="col-sm-7">
                <select id="enivronment" class="form-control" name="environment" ngModel required>
                    <option value="Development">Development</option>
                    <option value="Test">Test</option>
                    <option value="Production">Production</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-form-label">Service Account</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="serviceAccount" id="serviceAccount" ngModel required maxlength="25">
            </div>
        </div>
        <div class="form-group row">
            <label for="Password" class="col-sm-5 col-form-label">Password</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="password" id="password" ngModel required maxlength="25">
            </div>
        </div>
        <div class="btn-toolbar float-right" role="toolbar">
            <button type="submit" class="btn btn-sm btn-success mr-2" [disabled] = "!f.valid">Save</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>