<form (ngSubmit)="onSave()" #f="ngForm">
    <div class="row">
        <div class="col-sm-3 mb-2">
            <select id="enivronment" class="form-control" name="environment" ngModel required>
                <option value="Development">Development</option>
                <option value="Test">Test</option>
                <option value="Production">Production</option>
            </select>
        </div>
        <div class="col-sm-3 mb-2">
            <input type="text" class="form-control" name="serviceAccount" id="serviceAccount"
                placeholder="Service Account" ngModel required maxlength="25">
        </div>
        <div class="col-sm-3 mb-2">
            <input type="text" class="form-control" name="password" id="password"
                placeholder="Password" ngModel required maxlength="25">
        </div>
        <div class="btn-group float-right col-sm-3 mb-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>